.authenticate__container {
  position: relative;
  height: calc(100vh - 63px);
  background-image: url("../images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.register__container {
  height: calc(100vh + 300px);
}

.authenticate__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.authenticate__container__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 80%;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.register__container .authenticate__container__main {
  top: 0%;
  transform: translate(-50%, -0%);
  align-items: flex-start;
}

.authenticate__left {
  flex: 0 0 50%;
  padding: 20px;
  color: var(--color-white);
  margin-top: 5%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.authenticate__left img {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.authenticate__left p {
  margin-top: 10px;
}

.authenticate__left i {
  margin-right: 6px;
}

.authenticate__right {
  flex: 0 0 40%;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius-medium);
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: max-content;
  @media screen and (max-width: 768px) {
    flex: 0 0 80%;
    margin: auto;
  }
  @media screen and (max-width: 480px) {
    flex: 0 0 100%;
  }
}

.authenticate__right h2 {
  font-size: 22px;
}

.authenticate__form__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.authenticate__form__copyright {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
