.form-outer-container {
  background-color: var(--color-secondary-dark);
  color: var(--color-grey-light);
  min-height: 100vh;
  height: 100%;
}

.form-inner-container {
  width: 25%;
  margin: 0 auto;
  padding: 3% 0px;
}

.form-content {
  text-align: center;
}

.form-content img {
  max-width: 80px;
  width: 100%;
  height: auto;
}

.form-content h3 {
  font-size: 48px;
  line-height: 1.2;
}

.form-container {
  padding: 20px 0px;
}

.btn-full {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}

.btn-full .fab {
  float: inline-start;
}

.form-divider {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.form-divider::before,
.form-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  border-top: 1px solid var(--color-grey-light);
}

.form-divider::before {
  left: 0;
}

.form-divider::after {
  right: 0;
}

.form-full-divider {
  border-top: 1px solid var(--color-white);
  margin: 35px 0;
  width: 100%;
}

.form-footer {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.form-copyright {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .form-inner-container {
    width: 45%;
  }
}

@media screen and (max-width: 720px) {
  .form-inner-container {
    width: 80%;
  }
}
