.playlist__card {
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius-medium);
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.playlist__card:hover {
  box-shadow: var(--box-shaow-card);
  transform: translateY(-5px);
}

.playlist__card__image {
  width: 250px;
  height: 250px;
}

.playlist__card__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.playlist__card__content {
  width: 250px;
  padding: 10px;
}

.playlist__title {
  font-weight: 600;
  color: var(--color-secondary-dark);
  font-size: 18px;
  margin-bottom: 8px;
}

.playlist__description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em;
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.playlist__card__btn {
  width: 100%;
}

.genre__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 120px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  position: relative;
  transition: background-size 0.5s ease-in-out;
  background-position: center center;
  background-size: 100%;
  cursor: pointer;
}

.genre__card__overlay::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 0px;
}

.genre__card__title {
  z-index: 1;
  font-weight: 700;
  color: var(--color-white);
}

.playlist__img__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 250px;
  min-height: 250px;
}

.playlist__img__grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.playlist__tracks {
  padding: 10px 0;
}

.playlist__track {
  padding: 4px 0;
  border-top: solid 1px var(--color-grey-light);
  display: flex;
  align-items: center;
}

.playlist__track span {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__key,
.playlist__track {
  color: var(--color-grey-dark);
}

.card__value {
  color: var(--color-secondary-dark);
  font-weight: 600;
}

.playlist__icon {
  color: var(--color-grey-dark);
  font-size: 20px;
  margin-right: 8px;
  font-weight: 400;
}
.card__tracks {
  color: var(--color-secondary-light);
}
