.dashboard-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: var(--color-secondary-dark);
  color: var(--color-grey-light);
}

.dashboard-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-header-logo {
  vertical-align: middle;
  max-width: 40px;
  width: 100%;
  height: auto;
}

.dashboard-container {
  padding: 30px;
  background-color: var(--color-secondary-main);
  color: var(--color-grey-light);
}

.music-card {
  width: 220px;
  background-color: var(--color-secondary-dark);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}

.music-card-image-container {
  width: 200px;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.music-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.music-card:hover .overlay {
  opacity: 1;
}

.play-button {
  font-size: 40px;
  color: white;
  background-color: green;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-left: 8px;
}

.music-card-title {
  font-weight: 600;
  width: 180px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.music-card-info {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em;
  line-height: 1.2;
  font-size: 13px;
  color: var(--color-grey-dark);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-grey-ligh);
  background-color: var(--color-primary-main);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: 900;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-primary-dark);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px;
}

.swiper-button-prev::after {
  margin-right: 2px;
}

.swiper-button-next::after {
  margin-left: 2px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.title-container h1 {
  font-size: 20px;
}

.swiper-container {
  margin-bottom: 40px;
}
