/* Footer Styles */
.footer__bottom {
  background-color: var(--color-secondary-main);
  color: var(--color-grey-light);
  text-align: center;
  padding: 24px 0;
  font-size: 12px;
}

.footer__top {
  padding: 40px 0;
  background-color: var(--color-secondary-dark);
  color: var(--color-grey-light);
}

.footer__top__container {
  margin: auto;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__logo {
  flex: 0 0 230px;
}

.footer__logo .footer__socials {
  margin-top: 32px;
}

.footer__socials__list a:hover {
  background: unset;
}

.footer__logo .footer__image {
  max-width: 50px;
  width: 100%;
  height: auto;
}

.footer__logo .footer__details {
  font-size: 14px;
}

.footer__logo .footer__socials__list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__col {
  flex: 0 0 152px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
  .container,
  header,
  .footer__top__container {
    padding: 24px 40px;
  }
}

@media screen and (max-width: 780px) {
  .gift-cards-container {
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .footer__col {
    margin-bottom: 32px;
  }
}

header {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1000;
  box-shadow: var(--box-shadow-nav);
  background-color: var(--color-white);
}

.nav__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
}

.nav__left {
  flex: 0 0 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left .nav__logo {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 60px;
}

.showcase__container {
  position: relative;
}

.showcase__container__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.showcase__container__flex > .showcase__content,
.showcase__container__flex > .showcase__image {
  flex: 0 0 50%;
  align-self: flex-start;
}

.showcase__container__flex > .showcase__content {
  margin-top: 10%;
}

.showcase__search {
  box-shadow: var(--box-shadow-paper);
  background-color: var(--color-white);
  border-radius: var(--border-radius-large);
  padding: 24px;
  border: 1px solid var(--color-grey-light);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
  width: 50%;
}

.showcase__image img {
  width: 100%;
  height: calc(100vh - 110px);
  object-fit: none;
  border-radius: var(--border-radius-large);
}

.showcase__content h2 {
  font-size: 72px;
  color: var(--color-secondary-main);
  font-weight: 900;
}
.showcase__content p {
  font-size: 30px;
  color: var(--color-secondary-light);
  line-height: 1;
  font-weight: 600;
  margin-top: 10px;
}
