.showcase__container {
  position: relative;
}

.showcase__container__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.showcase__container__flex > .showcase__content,
.showcase__container__flex > .showcase__image {
  flex: 0 0 50%;
  align-self: flex-start;
}

.showcase__container__flex > .showcase__content {
  margin-top: 10%;
}

.showcase__search {
  box-shadow: var(--box-shadow-paper);
  background-color: var(--color-white);
  border-radius: var(--border-radius-large);
  padding: 24px;
  border: 1px solid var(--color-grey-light);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
  width: 50%;
}

.showcase__image img {
  width: 100%;
  height: calc(100vh - 110px);
  object-fit: none;
  border-radius: var(--border-radius-large);
}

.showcase__content h2 {
  font-size: 72px;
  color: var(--color-secondary-main);
  font-weight: 900;
}
.showcase__content p {
  font-size: 30px;
  color: var(--color-secondary-light);
  line-height: 1;
  font-weight: 600;
  margin-top: 10px;
}
