@import url(./variables.css);
@import url(./form.css);
@import url(./home.css);
@import url(./authenticate.css);
@import url(./card.css);
@import url(./swiper.css);
@import url(./search.css);
@import url(./playlist-detail.css);
@import url(./profile.css);
@import url(./cart.css);
@import url(./pricing.css);
@import url(./faq.css);
@import url(./orders.css);

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: var(--font-family);
  overflow-x: hidden;
}

h2 {
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1000;
  box-shadow: var(--box-shadow-nav);
  background-color: var(--color-white);
}

.nav__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  @media screen and (max-width: 768px) {
    padding: 12px 20px;
  }
}

.nav__left {
  flex: 0 0 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex: 0 0 300px;
  }
  @media screen and (max-width: 480px) {
    flex: 0 0 200px;
  }
}

.nav__left .nav__logo {
  max-width: 150px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.nav__list {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav__right {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hamburger__menu {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    cursor: pointer;
  }
}

.hamburger__line {
  width: 25px;
  height: 3px;
  background-color: var(--color-primary-main);
  margin: 5px;
}

.nav__list__mobile {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-nav);
    padding: 20px;
    z-index: 1000;
    text-align: center;
  }
}

.show {
  top: 60px;
}

/* Footer */
footer {
  background-color: var(--color-primary-dark);
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding: 40px 20px;
  }
}

.footer__col {
  flex: 0 0 25%;
  color: var(--color-white);
  @media screen and (max-width: 768px) {
    flex: 0 0 30%;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 480px) {
    flex: 0 0 40%;
  }
}

.footer__logo {
  max-width: 150px;
  height: auto;
  width: 100%;
}

.footer__details {
  font-size: 14px;
}

.footer__details {
  color: var(--color-grey-light);
  font-size: 12px;
  margin-top: 12px;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

.footer__socials {
  margin-top: 30px;
}

.footer__socials i {
  color: var(--color-white);
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    margin-right: 10px;
  }
}

.footer__socials a:hover {
  background: unset;
}

.footer__socials i:hover {
  color: var(--color-primary-main);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.footer__list a,
.footer__list a:hover {
  color: var(--color-grey-dark);
}

.footer__bottom {
  background-color: var(--color-footer);
  color: var(--color-white);
}

.footer__bottom__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 60px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.footer__desc {
  font-size: 12px;
  margin-top: 10px;
  text-justify: justify-all;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white-dark);
  padding: 20px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-modal);
  border: 1px solid var(--color-primary-dark);
  z-index: 1000;
  width: 30%;
  opacity: 0;
  display: none;
  animation: fadeInFromTop var(--transition-duration) forwards;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.modal-content {
  margin: 0px auto;
  padding: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
}

.modal-content button {
  width: max-content;
  text-align: center;
  margin: auto;
}

@keyframes fadeInFromTop {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#viewProfile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
