@import url(./variables.css);
@import url(./form.css);
@import url(./home.css);
@import url(./authenticate.css);
@import url(./card.css);
@import url(./swiper.css);
@import url(./search.css);
@import url(./playlist-detail.css);
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: var(--font-family);
}

h2 {
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
