.playlist__cover {
  height: 300px;
  width: 100%;
  border-radius: var(--border-radius-small);
}

.playlist__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.playlist__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.playlist__image {
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius-small);
}
.playlist__content {
  display: flex;
  flex-direction: column;
}

.playlist__content h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-grey-dark);
}

.playlist__content h2 {
  font-size: 72px;
  font-weight: 800;
  color: var(--color-black);
}

.playlist__info {
  display: inline-flex;
  gap: 10px;
  color: var(--color-grey-dark);
  margin-top: 10px;
}

.playlist__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin-bottom: 6px;
}

.playlist__desc p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-dark);
  text-justify: distribute-all-lines;
}

.track__table {
  border-collapse: collapse;
  width: 50%;
}

.track__table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-grey-dark);
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.track__table td {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secondary-dark);
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey-light);
}
