.playlist__flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  width: 80%;
  margin: 0px auto;
  padding-top: 30px;

  @media screen and (max-width: 768px) {
    width: 100%;
    display: block;
    padding: 40px;
  }
}

.playlist__flex__left,
.playlist__flex__right {
  flex: 0 0 50%;
  margin-top: 20px;
}

.playlist__flex__left .playlist__image {
  width: 100%;
  height: auto;
}

.playlist__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-secondary-dark);
  margin-bottom: 8px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    margin-top: 20px;
  }
}

.playlist__content {
  margin-top: 12px;
}

.track__table {
  width: 100%;
  border-radius: var(--border-radius-small);
}

.track__table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-grey-dark);
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.track__table td {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secondary-dark);
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.track__table tr td:first-child {
  width: 50%;
}

.playlist__info {
  color: var(--color-grey-dark);
  margin-right: 20px;
  display: inline-block;
}
.playlist__info span {
  color: var(--color-secondary-dark);
}

.content__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.playlist__btn {
  margin-top: 20px;
}

.similar__playlist {
  padding-top: 0px;
}

#playlistImageContainer .playlist__img__grid {
  max-width: unset;
}
